/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
		line-height: 23px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  margin: 2% 5%;
}

.container header .mobile-only {
  display: none;
}

.container header nav {
  display: flex;
  justify-content: space-between;
}

.container header nav a {
  text-decoration: none;
  color: gray;
}

.container header nav .nav-links {
  padding-top: 1%;
}

.heading-img img{
	width: 100%;
}

.heading-details {
	padding: 15px 0;
}

.heading-details h1 {
	font-size: 25px;
}

.services-grid .row-1, .row-2, .row-3{
	display: flex;
	flex-direction: row;
}

.services-grid .row-1 .item-1, .item-2 {
	border: 1px solid black;
	background-color: #e8e9eb;
	padding: 10px 10px;
	margin: 2%;
}

.services-grid .row-2 .item-3, .item-4 {
	background-color: #e8e9eb;
	border: 1px solid black;
	padding: 10px 10px;
	margin: 2%;
}

.services-grid .row-3 .item-5, .item-6 {
	background-color: #e8e9eb;
	border: 1px solid black;
	padding: 10px 10px;
	margin: 2%;
}

.services-grid .row-1 button, .row-2 button, .row-3 button{
	background-color: #FFF;
	border-radius: 6px;
	cursor: pointer;
	color: #333;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.services-grid .row-1 button:hover, .row-2 button:hover, .row-3 button:hover{
	background-color: gray;
	color: #FFF;
	transition: 0.5s;
}

.facts-section {
	display: flex;
	flex-direction: row;
	margin: 20px 0 80px 0;
}

.facts-section .row-1 .list {
	margin: 2% 0 0 3%;
}

.facts-section .row-1 .list ul li {
	margin-bottom: 1%;
}

footer p {
	text-align: center;
}

@media (max-width: 800px) {

	body {
		background-color: yellow;
	}

  .container header .desktop-only {
    display: none;
  }

  .container header .mobile-only {
    display: block;
  }

  .container header .mobile-only .logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
  }

  .container header .mobile-only .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
		padding-bottom: 2%;
  }

  .introduction .image {
    display: none;
  }

	.services-grid .row-1, .row-2, .row-3 {
		flex-wrap: wrap;
	}

	.facts-section .row-1{
		flex-wrap: wrap;
	}

	.facts-section .row-2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}

@media (max-width: 500px) {

	body {
		background-color: green;
	}

  .container header .mobile-only {
    padding: 0;
    margin: 0;
  }

  .container header .mobile-only .links {
    display: flex;
    flex-direction: column;
  }

  .container header .mobile-only .links .nav-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding: 3% 0;
    width: 500px;
  }

  .container header .mobile-only .links .nav-links:hover {
    color: crimson;
    transition: 0.5s;
  }

  .container header .mobile-only .links .top {
    border-top: 1px solid gray;
    padding: 3% 0;
    width: 500px;
  }

	.facts-section .row-2 {
		display: block;
    margin-left: auto;
    margin-right: auto;
	}

  footer .copyright {
    padding-top: 4%;
  }

}






/**/
